.buttonPrimary {
    background-color: rgb(61, 105, 225);
    color: white;
    font-weight: 600;
    width: 100%;
    border-radius: 40px;
    text-transform: uppercase;
    border: none;
    height: 40px;
    cursor: pointer;
    margin-bottom: 52px;
    transition: 200ms ease;
  }
  
  .buttonPrimary:hover{
      background-color: #3457b2;
  }