.headerBlock {
  height: 100vh;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  place-items: center;
  position: relative;
  scroll-snap-align: start;
}

.open{
  animation: animate-open 600ms forwards
}

.close{
  animation: animate-close 600ms forwards
}

@keyframes animate-open{
  0%{
    filter: opacity(0%)
  }

  100%{
    filter: opacity(100%)
  }
}

@keyframes animate-close{
  0%{
    filter: opacity(100%)
  }

  100%{
    filter: opacity(0%)
  }
}

.headerBlock__info {
  display: flex;
  position: fixed;
  top: 110px;
  flex-direction: column;
  height: 720px;
  z-index: 1;
}

.headerBlock__info--text {
  text-align: center;
  flex: 1;
  margin-top: 50px;
}

.headerBlock__info--text > h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #393c41;
}

.headerBlock__info--text > h4 {
  font-size: 16px;
  font-weight: 400;
  color: #5c5e62;
}

.headerBlock__button{
  width: 260px;
  padding: 12px 0;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.headerBlock__button1 {
  margin-right: 20px;
}

.headerBlock__button1{
  background-color: rgba(23, 26, 32, 0.877);
  color: white;
}

.headerBlock__button2{
  color: #393c41;
}
